.has-search {
  margin-bottom: -50px;
}

.has-search .form-control {
  padding-left: 2.375rem;
  height: 48px !important;
  border: none;
  border-bottom: 1px solid gray;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  padding-top: 6px;
}

.form-control::placeholder {
  font-size: 14px;
  color: grey;
}

@media (max-width: 991.98px) {
  .has-search {
    margin-bottom: 0px;
  }
}

.image {
  opacity: 1;
  display: block;
  width: 275px;
  height: 235px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  /*transition: .5s ease;*/
  /*opacity: 0;*/
  position: absolute;
  top: 50%;
  left: 190%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/*.custom-image:hover .image {
  opacity: 0.3;
}

.custom-image:hover .middle {
  opacity: 1;
}*/

.text {
  /*background-color: #4CAF50;*/
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.modal {
  background: #000000b3;
}

.btn {
  border-radius: 5px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: black;
  background-color: #e9a48c;
}

a {
  color: black;
}

.form-control {
  background-color: #f8f9fa !important;
}


/*dx-popup*/
.large-text {
  font-size: 20px;
  color: #ff6a50;
}

.opacity {
  opacity: 0.5;
}

.images {
  font-size: 0;
}

.images > div {
  display: inline-block;
  width: 33.3%;
  vertical-align: top;
}

.images .item-content {
  position: relative;
  margin: 5px;
  color: #fff;
  cursor: pointer;
}

.images .item-content > img {
  width: 100%;
}

.item-content .item-options {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.images .item-content:hover > .item-options {
  box-shadow: inset 0 0 0 2px #f05b41;
}

.item-content .item-options > div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 64px;
  padding-top: 4px;
  background-color: rgba(19, 32, 51, 0.8);
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

.images .item-content:hover > .item-options > div {
  border-bottom: 2px solid #f05b41;
  border-left: 2px solid #f05b41;
  border-right: 2px solid #f05b41;
}

.item-content .item-options .address,
.item-content .item-options .price {
  max-width: 70%;
  padding-left: 8px;
}

.item-content .item-options .address {
  font-size: 14px;
}

.item-content .item-options .agent {
  font-size: 12px;
  width: 60px;
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  text-align: center;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  line-height: 13px;
}

.item-content .item-options .agent > div:hover {
  color: #f05b41;
}

.item-content .item-options .agent img {
  display: block;
  width: 13px;
  height: 16px;
  margin: 8px auto 2px;
}

.agent-details > img, .agent-details > div {
  display: inline-block;
  vertical-align: top;
  line-height: 26px;
}

.agent-details > img {
  width: 40px;
  margin-right: 10px;
}

.agent-details .phone {
  font-size: 18px;
}

.popup-property-details {
  overflow: hidden;
  position: relative;
}

.popup-property-details .images {
  width: 700px;
}

.popup-property-details img {
  height: 205px;
  margin: 10px 10px 10px 0;
}

.dx-button.favorites {
  background-color: #f05b41;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 0;
  width: 260px;
  height: 44px;

}

.dx-button.favorites .dx-icon {
  color: #fff;
}

/*Accordian*/
.accordion {
  margin-top: 40px;
}

.accordion .card {
  border: none;
}

.accordion .card-head {
  border-bottom-color: #EDEFF0;
  background: transparent;
}

.accordion .card h2 {
  background: url(https://cdn0.iconfinder.com/data/icons/entypo/91/arrow56-512.png) no-repeat calc(100% - 10px) center;
  background-size: 20px;
  cursor: pointer;
  font-size: 18px;
}

.accordion .card h2.collapsed {
  background-image: url(https://cdn0.iconfinder.com/data/icons/arrows-android-l-lollipop-icon-pack/24/expand2-256.png);
}

.accordion .card-body {
  padding-left: 0;
  padding-right: 0;
}


.custom-text {
  margin: 10px 10px 10px 0;
}

.custom-img {
  height: 225px;
  width: 320px;
  margin: 10px 10px 10px 0;
  /*width: 40%;*/
}

.social-btn {
  border-radius: 50%;
  padding-left: 10px;
  margin: 5px;
}

/*Comment Section*/

.message-wrap {
  box-shadow: 0 0 3px #ddd;
  padding: 0;

}

.msg {
  padding: 5px;
  /*border-bottom:1px solid #ddd;*/
  margin: 0;
}

.msg-wrap {
  padding: 10px;
  height: 215px;
  /*max-height: 126px;*/
  overflow: auto;
}

.trans-wrap {
  padding: 10px;
  height: 230px;
  /*max-height: 126px;*/
  overflow: auto;
}

.time {
  color: #bfbfbf;
}

.send-wrap {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px;
  /*background: #f8f8f8;*/
}

.send-message {
  resize: none;
  border: none;
  border-bottom: 1px solid #a5a2a2;
}

.highlight {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

.send-message-btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;

  border-bottom-right-radius: 0;
}

.btn-panel {
  background: #f7f7f9;
}

.btn-panel .btn {
  color: #b8b8b8;

  transition: 0.2s all ease-in-out;
}

.btn-panel .btn:hover {
  color: #666;
  background: #f8f8f8;
}

.btn-panel .btn:active {
  background: #f8f8f8;
  box-shadow: 0 0 1px #ddd;
}

.btn-panel-conversation .btn, .btn-panel-msg .btn {

  background: #f8f8f8;
}

.btn-panel-conversation .btn:first-child {
  border-right: 1px solid #ddd;
}

.msg-wrap .media-heading {
  color: #003bb3;
  font-weight: 700;
}


.msg-date {
  background: none;
  text-align: center;
  color: #aaa;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
}


body::-webkit-scrollbar {
  width: 12px;
}


/* Let's get this party started */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /*        -webkit-border-radius: 10px;
          border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  /*        -webkit-border-radius: 10px;
          border-radius: 10px;*/
  background: #ddd;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #ddd;
}
.custom-nxt-prev {
  display: flex;
  z-index: 12;
  position: absolute;
  margin-top: -27%;
}
.trade-back, .trade-next {
  border-radius: 50%;
  background: #888181;
}
.trade-next {
  margin-right: 25px;
}
.trade-back {
  margin-left: -40px;
}


.tabs {
  max-width: inherit;
  margin: 0 auto;
  padding: 0 20px;
}
#tab-button {
  display: table;
  table-layout: fixed;
  /*width: 100%;*/
  margin: 0;
  padding: 0;
  list-style: none;
}
#tab-button li {
  display: table-cell;
  width: 130px;
}
#tab-button li a {
  display: block;
  padding: .5em;
  background: #E9A48C;
  border: 1px solid #ddd;
  text-align: center;
  color: #000;
  text-decoration: none;
}
#tab-button li:not(:first-child) a {
  border-left: none;
}
#tab-button li a:hover,
#tab-button .is-active a {
  border-bottom-color: transparent;
  background: #fff;
}
.tab-contents {
  padding: .5em 2em 1em;
  /*border: 1px solid #ddd;*/
}
.tab-button-outer {
  width: 100%;
  background: #E9A48C;
  display: none;
}
.tab-contents {
  /*margin-top: 20px;*/
}
@media screen and (min-width: 768px) {
  .tab-button-outer {
    position: relative;
    z-index: 2;
    background: #E9A48C;
    display: block;
  }
  .tab-select-outer {
    display: none;
  }
  .tab-contents {
    position: relative;
    top: -1px;
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .modal {
    overflow: scroll;
  }
}

.ges-location-from .form-group label , .total-wrap .form-group {
  margin: 5px;
}

.ges-location-from .form-group {
  border: 0px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
}
.total-wrap {
  margin: 10px;
  height: 50px;
}

.col-md-2, .col-md-12 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.row {
  margin-left: unset;
  margin-right: unset;
}
.images .img-div {
  margin-top: -10px;
  width: 320px;
  background: #e9a48cfa;
}

@media screen and (max-width: 400px) {
  .custom-img {
    width: 215px;
  }
  .images .img-div {
    width:215px;
  }
}
