.accordion .card-header:after {
  font-family: 'FontAwesome';
  content: "\f106";
  float: right;
}

.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f107";
}

.accordion {
  margin-top: 65px;
}

.card-header {
  padding: 7px 7px;
  margin-bottom: 0;
  color: black;
  background-color: unset;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-title {
  color: black;
}

.card {
  background-color: unset;
  border: unset;
}
.card-body {
  padding: unset;
  color: black;
}

.navbar {
  background-color: #e9a48c !important;
}
.navbar-dark .navbar-brand {
  color: black;
}
.navbar-dark .navbar-nav .nav-link {
  color: black;
}
.navbar-brand {
  padding-bottom: unset;
  padding-top: unset;
}
.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
}
.nav-btn {
  background: transparent;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #f9bfab;
}
.social-part {
  padding-right:20px;
}
@media (max-width: 991.98px) {
  .social-part {
    display: inline-grid;
  }
}
