<nav class="navbar navbar-expand-lg navbar-dark static-top">
  <div class="container">
<!--    <a [routerLink]="['/']" class="navbar-brand"><span class="test-img"></span>Corona Champion</a>-->
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="./../../assets/images/mediamodifier_cropped_image.png" style="width: 50px; height: 50px">Covid Champions
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/']" class="nav-link">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
      <div class="social-part">
        <button class="btn nav-btn">
          Solidarity <span class="badge badge-light">{{totalLikes}}</span>
        </button>
      </div>
    </div>
  </div>
</nav>

<!--
<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
<aside id="colorlib-aside" role="complementary" class="js-fullheight text-center">
  <h1 id="colorlib-logo"><a [routerLink]="['/']"><span class="test-img"></span>Corona Champion</a></h1>
  <nav id="colorlib-main-menu" role="navigation">
    <ul>
      <li [routerLinkActive]="'colorlib-active'" [routerLinkActiveOptions]="{exact:true}"><a
        [routerLink]="['/']">Home</a></li>
      &lt;!&ndash;      <li [routerLinkActive]="'colorlib-active'" ><a [routerLink]="['/gallery']">Gallery</a></li>&ndash;&gt;
      <li [routerLinkActive]="'colorlib-active'"><a [routerLink]="['/about']">About</a></li>
      &lt;!&ndash;      <li [routerLinkActive]="'colorlib-active'" ><a [routerLink]="['/blog']">Blog</a></li>&ndash;&gt;
      <li [routerLinkActive]="'colorlib-active'"><a [routerLink]="['/contact']">Contact</a></li>
    </ul>
    <div id="accordion" class="accordion">
      <div class="card mb-0">
        <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
          <a class="card-title">Total Donation</a>
        </div>
        <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
          <p>1000 $</p>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <a class="card-title">Total Views</a>
        </div>
        <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
          <p>1000</p>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <a class="card-title">Total Solidities</a>
        </div>
        <div id="collapseThree" class="collapse" data-parent="#accordion">
          <div class="card-body">1000</div>
        </div>
      </div>
    </div>

  </nav>

  &lt;!&ndash;<div class="colorlib-footer">
    <h3>Follow Us Here!</h3>
    <div class="d-flex justify-content-center">
      <ul class="d-flex align-items-center">
        <li class="d-flex align-items-center jusitfy-content-center"><a href="#"><i class="icon-facebook"></i></a></li>
        <li class="d-flex align-items-center jusitfy-content-center"><a href="#"><i class="icon-twitter"></i></a></li>
        <li class="d-flex align-items-center jusitfy-content-center"><a href="#"><i class="icon-instagram"></i></a></li>
        &lt;!&ndash;        <li class="d-flex align-items-center jusitfy-content-center"><a href="#"><i class="icon-linkedin"></i></a></li>&ndash;&gt;
      </ul>
    </div>
  </div>&ndash;&gt;
</aside> &lt;!&ndash; END COLORLIB-ASIDE &ndash;&gt;
-->
