<nav class="navbar navbar-expand-lg navbar-dark static-top">
  <div class="container">
    <!--    <a [routerLink]="['/']" class="navbar-brand"><span class="test-img"></span>Corona Champion</a>-->
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="./../../assets/images/mediamodifier_cropped_image.png" style="width: 50px; height: 50px">Covid Champions
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">
          <a [routerLink]="['/']" class="nav-link">Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
      <div class="social-part">
        <button class="btn nav-btn">
          Solidarity <span class="badge badge-light">{{totalLikes}}</span>
        </button>
        <button class="btn nav-btn">
          View <span class="badge badge-light">{{totalViews}}</span>
        </button>
        <button class="btn nav-btn">
          Donations <span class="badge badge-light">{{totalDonation}} 	&pound;</span>
        </button>
        <div class="gfm-embed" style="width: 118px;margin-bottom: -5px;" data-url="https://www.gofundme.com/f/covidchampions/widget/small"></div>
<!--        <a class="btn nav-btn">-->
<!--          <img src="./../../assets/images/mediamodifier_cropped_image.png" style="width: 20px; height: 20px"></a>-->
      </div>
    </div>
  </div>
</nav>

