<div class="container">
  <ngx-spinner
    bdOpacity=0.9
    bdColor="#333"
    size="large"
    color="#fff"
    type="ball-atom">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
  <div class="row">
    <div class="col-md-12">
      <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1default" data-toggle="tab">Upload Data</a></li>
            <!--            <li><a href="#tab2default" (click)="getPhotos()" data-toggle="tab">Gallary</a></li>-->
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1default">
              <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">

              <div class="row col-md-12">
                <div class="col-md-4">
                  <div class=" form-group">
                    <input class="form-control" [(ngModel)]="fighter.name" type="text" name="name" id="name" placeholder="name of fighter" required
                           #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }">
                    <div class="text text-danger" *ngIf="f.submitted && name.invalid">
                      <p *ngIf="name.errors.required">Name is required</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row col-md-12">
                <div class="col-md-4">
                  <div class=" form-group">
                    <input class="form-control" [(ngModel)]="fighter.city" type="text" name="city" id="city" placeholder="city(optional)">
                  </div>
                </div>
              </div>
              <div class="row col-md-12">
                <div class="col-md-4">
                  <div class=" form-group">
                    <input class="form-control" [(ngModel)]="fighter.country" type="text" name="country" id="country" placeholder="country" required
                           #country="ngModel" [ngClass]="{ 'is-invalid': f.submitted && country.invalid }">
                    <div class="text text-danger" *ngIf="f.submitted && country.invalid">
                      <p *ngIf="country.errors.required">Country is required</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row col-md-12">
                <div class="col-md-4">
                  <div class=" form-group">
                    <input class="form-control" [(ngModel)]="fighter.deathDate" type="date" name="deathDate" id="deathDate" placeholder="death Date" required
                           #deathDate="ngModel" [ngClass]="{ 'is-invalid': f.submitted && deathDate.invalid }">
                    <div class="text text-danger" *ngIf="f.submitted && deathDate.invalid">
                      <p *ngIf="deathDate.errors.required">Death Date is required</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row col-md-12">
                <div class="col-md-4">
                  <div class=" form-group">
                    <input class="form-control" [(ngModel)]="fighter.age" type="number" name="age" id="age" placeholder="Age" required
                           #age="ngModel" [ngClass]="{ 'is-invalid': f.submitted && age.invalid }">
                    <div class="text text-danger" *ngIf="f.submitted && age.invalid">
                      <p *ngIf="age.errors.required">Age is required</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row col-md-12">
                <div class="col-md-4">
                  <div class=" form-group">
                    <textarea class="form-control" [(ngModel)]="fighter.description" name="description" id="description"
                              placeholder="Description" required
                              #description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }"></textarea>
                    <div class="text text-danger" *ngIf="f.submitted && description.invalid">
                      <p *ngIf="description.errors.required">Description is required</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row col-md-12">
                <div class="col-md-4">
                  <div class=" form-group">
                    <input class="form-control" [(ngModel)]="fighter.occupation" type="text" name="occupation" id="occupation" placeholder="Occupation" required
                           #occupation="ngModel" [ngClass]="{ 'is-invalid': f.submitted && occupation.invalid }">
                    <div class="text text-danger" *ngIf="f.submitted && occupation.invalid">
                      <p *ngIf="occupation.errors.required">Occupation is required</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row col-md-12">
                <div class="col-md-4">
                  <div class=" form-group">
                    <input class="form-control" type="text" [(ngModel)]="fighter.source"  name="source" id="source" placeholder="Source">
                  </div>
                </div>
              </div>

              <br>
              <br>
              <div class="row col-md-12">
                <div class=" col-md-12">
                  <div class=" form-group">
                    <input type='file' (change)="onSelectFile($event)" class="btn btn-fill btn-danger" name="image" required>
                  </div>
                </div>
              </div>
              <div class="row col-md-12">
                <div class="form-group col-md-4" *ngFor='let url of images; let i = index'
                     [ngStyle]="{'display':displayImg}">
                  <button id="xButton" (click)="onImgClose(i)"> x</button>
                  <img name="image_{{i}}" id="image_{{i}}" [src]="url" height="200"><br/>
                </div>
              </div>
              <div class="row col-md-12">
                <button class="btn btn-fill btn-danger" type="submit">
                  Save
                </button>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
